<div class="container wrapper my-5 mx-5">
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 block-main" style="height: 600px">
      <div class="cam">
        <app-video-player
          (dataAI)="getAI($event)"
          [width]="dimensionVideo.width"
          [height]="dimensionVideo.height"
          [source]="currentStream"
        ></app-video-player>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 row">
      <div class="col-xs-12">
        <b>Mood</b>
        <div class="mood" *ngFor="let exp of listExpressions" [ngStyle]="{'color': exp.value >= 0.85 ? 'green' : 'grey', 'font-size': exp.value >= 0.85 ? '30px' : '20px'}">
          <span>{{ exp.name | titlecase }}: </span>
          <i>{{ exp.value | percent }}</i>
        </div>
      </div>
      <div class="col-xs-12">
        <b>Points of reference</b>
        <div class="space-preview"></div>
      </div>
    </div>
  </div>
</div>